# 1 Overview

## 1.1 What to Predict

- Stage 1 - You should submit predicted probabilities for every possible matchup in the past 5 NCAA® tournaments (seasons 2015-2019).
- Stage 2 - You should submit predicted probabilities for every possible matchup before the 2020 tournament begins.

Refer to the [Timeline page](https://www.kaggle.com/c/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/overview/timeline) for specific dates. In both stages, the sample submission will tell you which games to predict.

# 2 Import Packages

In [2]:
import os

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra

import matplotlib.pylab as plt
from matplotlib.pylab import rcParams
#rcParams['figure.figsize'] = 20, 6
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 3 Data Download

In [3]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MPlayers.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MEvents2015.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MEvents2017.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MSampleSubmissionStage1_2020.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MEvents2016.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MEvents2019.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MEvents2018.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeamCoaches.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneySeedRoundSlots.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MSeasons.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MSecondaryTourneyTeams.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MGameCities.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MSecondaryTourneyCompactResults.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MConferenceTourneyGames.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MMasseyOrdinals.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeamConferences.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeams.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneySeeds.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneyDetailedResults.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MRegularSeasonDetailedResults.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/Conferences.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeamSpellings.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneySlots.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MRegularSeasonCompactResults.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneyCompactResults.csv
/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/Cities.csv

# 4 Data Import

In [33]:
def get_file_list(datapath):
    # create a list of file and sub directories 
    # names in the given directory 
    data_list = os.listdir(datapath)
    all_files = list()
    # Iterate over all the entries
    for entry in data_list:
        # Create full path
        full_path = os.path.join(datapath, entry)
        # If entry is a directory then get the list of files in this directory 
        if os.path.isdir(full_path):
            all_files = all_files + get_file_list(full_path)
        else:
            all_files.append(full_path)
                
    return all_files

In [31]:
main_path = '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/'
sub_folders = next(os.walk(main_path))[1]
sub_folders

['MDataFiles_Stage1']

In [34]:
datapath = main_path + sub_folders[0] + '/'


# Get the list of all files in directory tree at given path
data_list = get_file_list(datapath)
data_list

['/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeamCoaches.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneySeedRoundSlots.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MSeasons.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MSecondaryTourneyTeams.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MGameCities.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MSecondaryTourneyCompactResults.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MConferenceTourneyGames.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MMasseyOrdinals.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeamConferences.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeams.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneySeeds.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneyDetailedResults.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MRegularSeasonDetailedResults.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/Conferences.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MTeamSpellings.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneySlots.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MRegularSeasonCompactResults.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/MNCAATourneyCompactResults.csv',
 '/kaggle/input/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament/MDataFiles_Stage1/Cities.csv']

In [38]:
tourney_compact_result_M = pd.read_csv(datapath + 'MNCAATourneyCompactResults.csv')
tourney_seed_M = pd.read_csv(datapath + 'MNCAATourneySeeds.csv')
regular_compact_result_M = pd.read_csv(datapath + 'MRegularSeasonCompactResults.csv')
season_M = pd.read_csv(datapath + 'MSeasons.csv')
teams_M = pd.read_csv(datapath + 'MTeams.csv')

submission_file = pd.read_csv(main_path + 'MSampleSubmissionStage1_2020.csv')

# 5 Data Exploratory Analysis

- for each data we will:
    - handle missing values
    - find-out correlation between variables

## 5.1 Section 0 - Submission File

In [39]:
submission_file

                   ID  Pred
0      2015_1107_1112   0.5
1      2015_1107_1116   0.5
2      2015_1107_1124   0.5
3      2015_1107_1125   0.5
4      2015_1107_1129   0.5
...               ...   ...
11385  2019_1449_1459   0.5
11386  2019_1449_1463   0.5
11387  2019_1458_1459   0.5
11388  2019_1458_1463   0.5
11389  2019_1459_1463   0.5

[11390 rows x 2 columns]

In [40]:
# Spliting ID into 3 different columns
submission_file['Season'] = submission_file['ID'].apply(lambda x: x.split("_")[0])
submission_file['lower_team'] = submission_file['ID'].apply(lambda x: x.split("_")[1])
submission_file['higher_team'] = submission_file['ID'].apply(lambda x: x.split("_")[2])

# Reorder the columns to move the target variable to the end
cols = ["ID", "Season", "lower_team", "higher_team", "Pred"]

# apply the corrected column order to the data frame
submission_file = submission_file[cols]
submission_file

                   ID  Pred Season lower_team higher_team
0      2015_1107_1112   0.5   2015       1107        1112
1      2015_1107_1116   0.5   2015       1107        1116
2      2015_1107_1124   0.5   2015       1107        1124
3      2015_1107_1125   0.5   2015       1107        1125
4      2015_1107_1129   0.5   2015       1107        1129
...               ...   ...    ...        ...         ...
11385  2019_1449_1459   0.5   2019       1449        1459
11386  2019_1449_1463   0.5   2019       1449        1463
11387  2019_1458_1459   0.5   2019       1458        1459
11388  2019_1458_1463   0.5   2019       1458        1463
11389  2019_1459_1463   0.5   2019       1459        1463

[11390 rows x 5 columns]

## 5.1 Section 1 - The Basics

In [24]:
tourney_compact_result_M.info()
tourney_compact_result_M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2251 entries, 0 to 2250
Data columns (total 8 columns):
Season     2251 non-null int64
DayNum     2251 non-null int64
WTeamID    2251 non-null int64
WScore     2251 non-null int64
LTeamID    2251 non-null int64
LScore     2251 non-null int64
WLoc       2251 non-null object
NumOT      2251 non-null int64
dtypes: int64(7), object(1)
memory usage: 140.8+ KB

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0       1985     136     1116      63     1234      54    N      0
1       1985     136     1120      59     1345      58    N      0
2       1985     136     1207      68     1250      43    N      0
3       1985     136     1229      58     1425      55    N      0
4       1985     136     1242      49     1325      38    N      0
...      ...     ...      ...     ...      ...     ...  ...    ...
2246    2019     146     1120      77     1246      71    N      1
2247    2019     146     1277      68     1181      67    N      0
2248    2019     152     1403      61     1277      51    N      0
2249    2019     152     1438      63     1120      62    N      0
2250    2019     154     1438      85     1403      77    N      1

[2251 rows x 8 columns]

In [25]:
tourney_seed_M.info()
tourney_seed_M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2286 entries, 0 to 2285
Data columns (total 3 columns):
Season    2286 non-null int64
Seed      2286 non-null object
TeamID    2286 non-null int64
dtypes: int64(2), object(1)
memory usage: 53.7+ KB

      Season Seed  TeamID
0       1985  W01    1207
1       1985  W02    1210
2       1985  W03    1228
3       1985  W04    1260
4       1985  W05    1374
...      ...  ...     ...
2281    2019  Z12    1332
2282    2019  Z13    1414
2283    2019  Z14    1330
2284    2019  Z15    1159
2285    2019  Z16    1205

[2286 rows x 3 columns]

In [27]:
regular_compact_result_M.info()
regular_compact_result_M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161552 entries, 0 to 161551
Data columns (total 8 columns):
Season     161552 non-null int64
DayNum     161552 non-null int64
WTeamID    161552 non-null int64
WScore     161552 non-null int64
LTeamID    161552 non-null int64
LScore     161552 non-null int64
WLoc       161552 non-null object
NumOT      161552 non-null int64
dtypes: int64(7), object(1)
memory usage: 9.9+ MB

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0         1985      20     1228      81     1328      64    N      0
1         1985      25     1106      77     1354      70    H      0
2         1985      25     1112      63     1223      56    H      0
3         1985      25     1165      70     1432      54    H      0
4         1985      25     1192      86     1447      74    H      0
...        ...     ...      ...     ...      ...     ...  ...    ...
161547    2019     132     1153      69     1222      57    N      0
161548    2019     132     1209      73     1426      64    N      0
161549    2019     132     1277      65     1276      60    N      0
161550    2019     132     1387      55     1382      53    N      0
161551    2019     132     1463      97     1217      85    H      0

[161552 rows x 8 columns]

In [28]:
season_M.info()
season_M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
Season     36 non-null int64
DayZero    36 non-null object
RegionW    36 non-null object
RegionX    36 non-null object
RegionY    36 non-null object
RegionZ    36 non-null object
dtypes: int64(1), object(5)
memory usage: 1.8+ KB

    Season     DayZero      RegionW    RegionX         RegionY       RegionZ
0     1985  10/29/1984         East       West         Midwest     Southeast
1     1986  10/28/1985         East    Midwest       Southeast          West
2     1987  10/27/1986         East  Southeast         Midwest          West
3     1988   11/2/1987         East    Midwest       Southeast          West
4     1989  10/31/1988         East       West         Midwest     Southeast
5     1990  10/30/1989         East    Midwest       Southeast          West
6     1991  10/29/1990         East  Southeast         Midwest          West
7     1992   11/4/1991         East       West         Midwest     Southeast
8     1993   11/2/1992         East    Midwest       Southeast          West
9     1994   11/1/1993         East  Southeast         Midwest          West
10    1995  10/31/1994         East       West         Midwest     Southeast
11    1996  10/30/1995         East    Midwest       Southeast          West
12    1997  10/28/1996         East  Southeast         Midwest          West
13    1998  10/27/1997         East       West         Midwest         South
14    1999  10/26/1998         East    Midwest           South          West
15    2000   11/1/1999         East      South         Midwest          West
16    2001  10/30/2000         East       West         Midwest         South
17    2002  10/29/2001         East    Midwest           South          West
18    2003   11/4/2002         East      South         Midwest          West
19    2004   11/3/2003      Atlanta    Phoenix  EastRutherford       StLouis
20    2005   11/1/2004  Albuquerque    Chicago          Austin      Syracuse
21    2006  10/31/2005      Atlanta    Oakland     Minneapolis  WashingtonDC
22    2007  10/30/2006         East      South         Midwest          West
23    2008   11/5/2007         East    Midwest           South          West
24    2009   11/3/2008         East      South         Midwest          West
25    2010   11/2/2009         East      South         Midwest          West
26    2011   11/1/2010         East       West       Southeast     Southwest
27    2012  10/31/2011         East    Midwest           South          West
28    2013   11/5/2012         East      South         Midwest          West
29    2014   11/4/2013         East      South         Midwest          West
30    2015   11/3/2014         East      South         Midwest          West
31    2016   11/2/2015         East    Midwest           South          West
32    2017  10/31/2016         East       West         Midwest         South
33    2018  10/30/2017         East    Midwest           South          West
34    2019   11/5/2018         East       West         Midwest         South
35    2020   11/4/2019         TBD1       TBD2            TBD3          TBD4

In [29]:
teams_M.info()
teams_M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 4 columns):
TeamID           367 non-null int64
TeamName         367 non-null object
FirstD1Season    367 non-null int64
LastD1Season     367 non-null int64
dtypes: int64(3), object(1)
memory usage: 11.6+ KB

     TeamID       TeamName  FirstD1Season  LastD1Season
0      1101    Abilene Chr           2014          2020
1      1102      Air Force           1985          2020
2      1103          Akron           1985          2020
3      1104        Alabama           1985          2020
4      1105    Alabama A&M           2000          2020
..      ...            ...            ...           ...
362    1463           Yale           1985          2020
363    1464  Youngstown St           1985          2020
364    1465    Cal Baptist           2019          2020
365    1466  North Alabama           2019          2020
366    1467      Merrimack           2020          2020

[367 rows x 4 columns]

# Reference
- Primary: [google-cloud-ncaa-march-madness-2020-division-1-mens-tournament](https://www.kaggle.com/c/google-cloud-ncaa-march-madness-2020-division-1-mens-tournament)
- Secondary: